/* 
 * Sistema de Inscripción CENDI - IPN
 * Equipo 4 - Tecnologías para la Web
 * Estilos personalizados
 */

/* TODO: Agregar estilos personalizados según el diseño del equipo */

body {
    font-family: Arial, sans-serif;
}

/* TODO: Estilos para el navbar */

/* TODO: Estilos para el slider */

/* TODO: Estilos para formularios */

/* TODO: Estilos responsive */
